html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
}