html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    from {opacity: 100;}
    to {opacity: 0;}
}

#blink {
    animation-name: blink;
    animation-duration: 1s;
    opacity: 100;
}